{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
        <div class="auth-box border-top border-secondary">
            <div id="loginform1">
                <div class="text-center p-t-10 p-b-10">
                    <span class="db"><img src="{% static 'images/auth-logo.png' %}" alt="logo" /></span>
                </div>
                <h5>{% trans "Password Reset" %}</h5>
                 <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                <form method="post" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="p-t-20 mb-3">
                        <button class="btn btn-success float-center" type="submit">Reset My Password</button>
                    </div>
                    <div class="p-t-20">
                        <a class="btn btn-info" href="{% url 'account_login' %}" type="button"><i class="fa fa-lock m-r-5"></i>Back to Login</a>
                        </div>
                    </form> 
            </div>
            
                </div>
            </div>
        </div>
    </div>
    {% comment %} <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form> {% endcomment %}

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}