{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}




{% block main %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Invoices</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="{% url 'create-invoice' %}"><button type="button" class="btn btn-primary">Add New Invoice</button></a>
      </div>
    </div>
  </div>

  <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

  {% if invoices|length > 0 %}
  <div class="table-responsive p-4" style="background-color: #fff;">
    <table id="example" class="table table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Client name</th>
          <th>Phone Number</th>
          <th>Due Date</th>
          <th>Total Amount</th>
          <th>Invoice Status</th>
          <th>Delete</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>

        {% for invoice in invoices %}
      <tr>
        <td>{{invoice.number}}</td>
        <td>{{invoice.title}}</td>
        <td>{{invoice.client.clientName}}</td>
        <td>{{invoice.client.phoneNumber}}</td>
        <td>{{invoice.dueDate}}</td>
          {% comment %} {% with total_amount=0 %}
                        {% for order in invoice.order_set.all %}
                            {% with order_amount=order.total_price %}
                                {% with total_amount=total_amount|add:order_amount %}
                                {{ order.quantity }} * {{ order.price }} = {{ order_amount }}<br>
                                {% endwith %}
                            {% endwith %}
                        {% endfor %}
                        {{ total_amount }}
          {% endwith %} {% endcomment %}
        <td>{{ invoice.total_amount }}</td>
        <td>{{invoice.status}}</td>
        <td>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{invoice.slug}}">
                        DELETE
          </button>
           <!-- Modal - Delete Invoice -->
                      <div class="modal" id="delete{{invoice.slug}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">
                                Invoice Number: {{ invoice.number }} 
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete this invoice?</p>
                            </div>
                            <div class="modal-footer">
                              <form action="{% url 'delete-invoice' invoice.slug %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Delete">
                              </form>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                          </div>
                        </div>
                      </div>

        </td>
        <td>
          <a href="{% url 'create-build-invoice' invoice.slug %}"><button class="btn btn-primary"> VIEW </button></a>
        </td>
      </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  {% else %}
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <h3>Start by Adding First Invoice</h3>
      <img class=img-fluid src="{% static 'images/empty.svg' %}" alt="Ethiostar">
    </div>
    <div class="col-lg-3">

    </div>
  </div>
  {% endif %}




{% endblock %}