<html>
  <body>
    <h1>My Shop</h1>
    <p> Invoice no. {{ order.id }}<br><span class="secondary">{{invoice.number}}</span></p>
    <h3>Bill to</h3>
    <p>
      {{ invoice.client.clientName}}<br>
      {{invoice.client.emailAddress}}<br>
      {{ invoice.client.addressLine1 }}<br>
      Postal code: {{invoice.client.postalCode}}, {{invoice.client.country}}
      </p>
    <h3>Items</h3>
     <table>
      <thead>
        <tr>
          <td>Date</td>
          <td>Description</td>
          <td>Quantity</td>
          <td>Price</td>
        </tr>
      </thead>
      <tbody>
      {% for order in orders %}
      <tr class="row{% cycle "1" "2" %}">
        <td>{{order.OrderDate}}</td>
        <td class="num">{{order.description}}</td>
        <td class="num">{{order.quantity}}</td>
        <td class="num">{{order.currency}} {{order.price}}</td>
      </tr>
      {% endfor %}
      <tr class="total">
        <td colspan="3">Total</td>
        <td class="num">{{invoiceCurrency}} {{invoiceTotal}}</td>
  </tr>
  </tbody>
  </table>
 
  {% comment %} <span class="{% if order.paid %}paid{% else %}pending{% endif %}">
  {% if order.paid %}Paid{% else %}Pending payment{% endif %}
  </span> {% endcomment %}
 </body>
 </html>