{% extends '_base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block main %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">

      </div>
    </div>
  </div>
        <div class="container-fluid">

            <!-- Content Row -->
            <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100">
                        <h5 class="card-header text-white" style="background-color: #00AA9E;">Invoices</h5>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                        Total Invoices:<span class="h5 mb-1 font-weight-bold text-gray-800 text-center"> {{invoices}}</span></div>                                   
                                    <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                        Paid Invoices: <span class="h5 mb-0 font-weight-bold text-gray-800 text-center">{{paidInvoices}}</span></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 ">
                        <h5 class="card-header text-white" style="background-color: #0275d8;">PO's</h5>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                        Total PO's:<span class="h5 mb-1 font-weight-bold text-gray-800 text-center"> {{purchase_orders}}</span> </div>
                                    <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                        Paid PO's:<span class="h5 mb-1 font-weight-bold text-gray-800 text-center"> {{paidPos}}</span> </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-center"></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100">
                        <h5 class="card-header text-white" style="background-color: #d9534f;">Jobs</h5>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                        Total JOBS: <span class="h5 mb-1 font-weight-bold text-gray-800 text-center"> {{jobs}}</span> </div>
                                    <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                        Completed:<span class="h5 mb-1 font-weight-bold text-gray-800 text-center"> {{completedJobs}}</span></div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-center"></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pending Requests Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100">
                        <h5 class="card-header text-white" style="background-color: #f0ad4e;">Projects</h5>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                        Total Projects: <span class="h5 mb-1 font-weight-bold text-gray-800 text-center"> {{projects}}</span></div>
                                    <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                        Completed: <span class="h5 mb-1 font-weight-bold text-gray-800 text-center"> {{completedProjects}}</span></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Row -->

            <div class="row">

                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Projects Overview</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myAreaChart"></canvas>
                                <script>
                                    var ctx = document.getElementById('myAreaChart').getContext('2d');
                                    var myChart = new Chart(ctx, {
                                        type: 'bar',
                                        data: {
                                            labels: [{% for order in all_orders %} '{{order.project.projectName}}', {% endfor %}],
                                            datasets: [{
                                                label: 'Project Revenue for Last 10 projects',
                                                data: [{% for order in all_orders %} {{order.total_price|floatformat:"0"}}, {% endfor %}],
                                                backgroundColor: [
                                                    'rgba(0,230,118,1.0)',
                                                    'rgba(238,255,65,1.0)',
                                                    'rgba(213,0,0,1.0)',
                                                    'rgba(255, 129, 112, 1)',
                                                    'rgba(74, 182, 235, 1)',
                                                    'rgba(255, 206, 86, 1)',
                                                    'rgba(25, 192, 112, 1)',
                                                    'rgba(153, 92, 255, 1)',
                                                    'rgba(255, 129, 64, 1)',
                                                    'rgba(255, 97, 122, 1)',
                                                    'rgba(44, 121, 134, 1)',
                                                    'rgba(251, 205, 83, 1)',
                                                    'rgba(73, 165, 193, 1)',
                                                    'rgba(123, 102, 245, 1)',
                                                    'rgba(235, 121, 54, 1)'
                                                ],
                                                borderColor: [
                                                    'rgba(0,230,118,1.0)',
                                                    'rgba(238,255,65,1.0)',
                                                    'rgba(213,0,0,1.0)',
                                                    'rgba(255, 129, 112, 1)',
                                                    'rgba(74, 182, 235, 1)',
                                                    'rgba(255, 206, 86, 1)',
                                                    'rgba(25, 192, 112, 1)',
                                                    'rgba(153, 92, 255, 1)',
                                                    'rgba(255, 129, 64, 1)',
                                                    'rgba(255, 97, 122, 1)',
                                                    'rgba(44, 121, 134, 1)',
                                                    'rgba(251, 205, 83, 1)',
                                                    'rgba(73, 165, 193, 1)',
                                                    'rgba(123, 102, 245, 1)',
                                                    'rgba(235, 121, 54, 1)'
                                                ],
                                                borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero: true,
                                                        stepSize: 1,
                                                    }
                                                }]
                                            }
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Vendor Rating Level</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="myPieChart"></canvas>
                                <script>

                               

                                //polar area chart

                                var birdsCanvas = document.getElementById("myPieChart");

                                Chart.defaults.font.family = "Lato";
                                Chart.defaults.font.size = 16;
                                Chart.defaults.color = "black";

                                var birdsData = {
                                labels: ["Grade A","Grade B","Grade C"],
                                datasets: [{
                                    data: [{{green_rated}}, {{yellow_rated}}, {{red_rated}}],
                                    backgroundColor: [
                                        'rgba(0,230,118,1.0)',
                                        'rgba(238,255,65,1.0)',
                                        'rgba(213,0,0,1.0)',
                                    
                                    ]
                                }]
                                };

                                var chartOptions = {
                                plugins: {
                                    title: {
                                    display: false,
                                    align: "start",
                                    text: "Vendors Rating Level"
                                    },
                                    legend: {
                                    align: "start"
                                    }
                                }
                                };

                                var polarAreaChart = new Chart(birdsCanvas, {
                                type: 'polarArea',
                                data: birdsData,
                                options: chartOptions
                                });
                                    
                                </script> 

                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Row -->
            <div class="row">

                <!-- Content Column -->
                {% comment %} <div class="col-lg-6 mb-4"> {% endcomment %}
                <div class="col-xl-8 col-lg-7">





                    <!-- Project Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Key Metrics</h6>
                        </div>
                        <div class="card-body">
                            <h4 class="small font-weight-bold">Completed Projects <span
                                    class="float-right">{{pending_proj_percentage|floatformat:"0"}}%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-danger" role="progressbar" style="width:{{pending_proj_percentage}}%"
                                    aria-valuenow="{{pending_proj_percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold">Paid Invoices <span
                                    class="float-right">{{paidInv_percentages|floatformat:"0"}}%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: {{paidInv_percentages}}%"
                                    aria-valuenow="{{paidInv_percentages}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold">Paid Po's <span
                                    class="float-right">{{paidPos_percentages|floatformat:"0"}}%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar" role="progressbar" style="width: {{paidPos_percentages}}%"
                                    aria-valuenow="{{paidPos_percentages}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold">Completed Jobs <span
                                    class="float-right">{{pending_jobs_percentage|floatformat:"0"}}%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-info" role="progressbar" style="width: {{pending_jobs_percentage}}%"
                                    aria-valuenow="{{pending_jobs_percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold">Jobs Evaluated <span
                                    class="float-right">{{rated_jobs_percentage|floatformat:"0"}}%</span></h4>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: {{rated_jobs_percentage}}%"
                                    aria-valuenow="{{rated_jobs_percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Color System -->
                    {% comment %} <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-primary text-white shadow">
                                <div class="card-body">
                                    Primary
                                    <div class="text-white-50 small">#4e73df</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-success text-white shadow">
                                <div class="card-body">
                                    Success
                                    <div class="text-white-50 small">#1cc88a</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-info text-white shadow">
                                <div class="card-body">
                                    Info
                                    <div class="text-white-50 small">#36b9cc</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-warning text-white shadow">
                                <div class="card-body">
                                    Warning
                                    <div class="text-white-50 small">#f6c23e</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-danger text-white shadow">
                                <div class="card-body">
                                    Danger
                                    <div class="text-white-50 small">#e74a3b</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-secondary text-white shadow">
                                <div class="card-body">
                                    Secondary
                                    <div class="text-white-50 small">#858796</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-light text-black shadow">
                                <div class="card-body">
                                    Light
                                    <div class="text-black-50 small">#f8f9fc</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-dark text-white shadow">
                                <div class="card-body">
                                    Dark
                                    <div class="text-white-50 small">#5a5c69</div>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}

                </div>
                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-6">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary"># of Vendor by Grade Level</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="doughnut pt-4 pb-2">
                                <canvas id="doughnut"></canvas>
                                <script>
                                //doughnut chart
                                var doughnut = document.getElementById('doughnut');
                                var doughnutConfig = new Chart(doughnut, {
                                    type: 'doughnut',
                                    data: {
                                        labels: ["Novice","B1","B2", "C1", "C2"],
                                        datasets: [{
                                            label: '# of vendors by grade',
                                            data: [{{novice}}, {{b1}}, {{b2}}, {{c1}}, {{c2}}],
                                            backgroundColor: [
                                                'rgba(68, 255, 7,1.0)',
                                                'rgba(254, 214, 10,1.0)',
                                                'rgba(,251, 0, 7,1.0)',
                                                'rgba(55, 0, 255, 1)',
                                                'rgba(251, 19, 243, 1)'],
                                             
                                            borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            tooltips: {
                                                enabled: true
                                            },
                                            pieceLabel: {
                                                mode: 'value'
                                            },
                                            responsive: true,
                                            legend: {
                                                position: 'bottom',
                                            },
                                            title: {
                                                display: true,
                                                text: 'Idades',
                                                fontSize: 20
                                            },
                                            animation: {
                                                animateScale: true,
                                                animateRotate: true
                                            }
                                        }

                                    });
                                    
                                </script> 

                            </div>
                          
                        </div>
                    </div>
                </div>
            </div> 
                {% comment %} <div class="col-lg-6 mb-4"> {% endcomment %}

            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <!-- Illustrations -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Recent Projects</h6>
                        </div>
                        <div class=" col col-lg-2">
                            <div class="p-3">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-header">
                                        <h5 class="card-title">Projects last 7 days</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        {% for project in last_seven_days_projects %}
                                        <li class="list-group-item text-success font-weight-bold">{{project.projectName}}</li>
                                       {% endfor %}
                                    </ul>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
                    <!-- Approach -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Income and Cost Analysis</h6>
                        </div>
                        <div class="card-body mr-8">
                            <div class="p-10">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-header">
                                        <h5 class="card-title">Projets revenue and Cost </h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item text-primary font-weight-bold">Project Income : {{total_project_value}}</li>
                                        <li class="list-group-item text-danger font-weight-bold">Project Budget: {{total_budgeted_cost}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="row"> 
                {% if order_due_today|length > 0 %}
                        <div class=" col-xl-8 col-lg-7">
                            <div class="p-3">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-header">
                                        <h5 class="card-title">Projects Due Today</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        {% for order in order_due_today %}
                                        <li class="list-group-item">{{order.project.projectName}}</li>
                                       {% endfor %}
                                    </ul>
                                </div>
                            </div>  
                        </div>
                        {% endif %}
                        {% if overdue_project_orders %}
                        <div class=" col col-lg-2">
                            <div class="p-3">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-header">
                                        <h5 class="card-title">Projects Overdue</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        {% for project in  overdue_project_orders %}
                                        <li class="list-group-item">{{project.projectName}}</li>
                                       {% endfor %}
                                    </ul>
                                </div>
                            </div>  
                        </div>
                        {% else %}
                        <p class="p-3">No overdue orders.</p>
                        {% endif %}
                        {% if invoice_due_today|length > 0 %}
                        <div class=" col-xl-4 col-lg-5">
                            <div class="p-3">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-header">
                                        <h5 class="card-title">Invoice Due Today</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        {% for invoice in invoice_due_today %}
                                        <li class="list-group-item">{{invoice.client.clientName}}</li>
                                       {% endfor %}
                                    </ul>
                                </div>
                            </div>  
                        </div>
                        {% endif %}
            </div>
           

        </div>
        <!-- /.container-fluid -->

   
   






{% endblock %}